@import "tailwindcss";


/* Container */
.react-calendar-heatmap {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

/* Squares */
.react-calendar-heatmap rect {
  width: 12px;
  height: 12px;
  rx: 3px;
  ry: 3px;
  transition: transform 0.2s ease;
}

.react-calendar-heatmap rect:hover {
  transform: scale(1.2);
  cursor: pointer;
}

/* Labels */
.react-calendar-heatmap text {
  font-size: 10px;
  fill: #6b7280;
}

/* Colors */
.heatmap-empty {
  fill: #e5e7eb;
}

.heatmap-1 {
  fill: #bbf7d0;
}

.heatmap-2 {
  fill: #4ade80;
}

.heatmap-3 {
  fill: #22c55e;
}

.heatmap-4 {
  fill: #15803d;
}


/* globals.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}